@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading-indicator {
  display: flex;
  color: var(--gray-600);
  align-items: center;
  justify-content: center;
}

.loading-indicator__icon {
  display: inline-block;
  vertical-align: middle;
  margin: var(--spacing-xxs);
  animation: spin 0.7s linear infinite;
}

.loading-indicator__message {
  display: inline-block;
  font-size: var(--text-size-sm);
  margin-left: var(--spacing-xxs);
  vertical-align: middle;
}
