.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .loading-logo {
    width: 300px; /* Pas de breedte aan naar wens */
    height: auto;
  }
}
