.button {
    display: inline-flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.8rem 1.5rem;
    background: var(--color-dark-teal);
    color: var(--color-white);
    text-decoration: none;
    border-radius: 6px;
    transition: var(--transition);
    border: 0.125rem solid var(--color-dark-teal);
    font-weight: 500;
    font-size: 0.95rem;
    z-index: 200;
  
    &:hover {
      background: var(--color-white);
      color: var(--color-dark-teal);
      border-color: var(--color-dark-teal);
      transform: translateY(-1px);
    }
  }